<a href="https://colab.research.google.com/github/ChauQueBinh/20130204_ChauQueBinh_ML/blob/main/Lab_6_20130204_ChauQueBinh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This lab is to deal with classification task using **Random Forests** and **Na√Øve Bayes** algorithms with/without **Feature Selection**. 

*   **Deadline: 23:59, 25/03/2023**

# Import libraries

In [ ]:
# code
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/ML_2023'

Mounted at /content/gdrive
/content/gdrive/MyDrive/ML_2023

In [ ]:
from sklearn import datasets
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics._plot.confusion_matrix import ConfusionMatrixDisplay
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn import svm
from prettytable import PrettyTable



from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest
from sklearn.ensemble import RandomForestClassifier

from sklearn.naive_bayes import GaussianNB
from sklearn.decomposition import PCA

In [ ]:
from sklearn import datasets
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn import svm
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import pandas as pd
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.feature_selection import SelectFromModel

#Task 1. 
Task 1. Compare the performance of selected classification algorithms including **Random forest**, **NaiveBayes**, and **SVM** with **mnist** dataset based on **accuracy, precision, recall, f1** measures according to **without using selection feature** and **using selection feature**.

In [ ]:
# Import scikit-learn dataset library
from sklearn import datasets

# Load dataset
cancer = datasets.load_breast_cancer()

In [ ]:
# GaussianNB
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
# model.fit(X_train, y_train)
# y_pred = model.predict(X_test)

In [ ]:
# CategoricalNB
from sklearn.naive_bayes import CategoricalNB
clf = CategoricalNB()
# clf.fit(X_train, y_train)
# y_pred = clf.predict(X_test)

In [ ]:
# BernoulliNB
from sklearn.naive_bayes import BernoulliNB
clf = BernoulliNB()
# clf.fit(X_train, y_train)
# y_pred = clf.predict(X_test)

In [ ]:
# BernoulliNB
from sklearn.naive_bayes import BernoulliNB
clf = BernoulliNB()
# clf.fit(X_train, y_train)
# y_pred = clf.predict(X_test)

In [ ]:
# BernoulliNB
from sklearn.naive_bayes import BernoulliNB
clf = BernoulliNB()
# clf.fit(X_train, y_train)
# y_pred = clf.predict(X_test)

In [ ]:
# ComplementNB
from sklearn.naive_bayes import ComplementNB
model = ComplementNB()
# model.fit(X_train, y_train)
# y_pred = model.predict(X_test))

In [ ]:
mnist = datasets.load_digits()
x= mnist['data']
y= mnist['target']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [ ]:
# linear
# SVM
clf = svm.SVC(kernel='linear') 
clf.fit(X_train, y_train)
y_pred_linear = clf.predict(X_test)

accuracy_linear = accuracy_score(y_test, y_pred_linear)
precision_linear = precision_score(y_test, y_pred_linear, average='macro')
recall_linear = recall_score(y_test, y_pred_linear, average='macro')
f1_linear = f1_score(y_test, y_pred_linear, average='macro')

# Radial Basis
clf = svm.SVC(kernel='rbf') 
clf.fit(X_train, y_train)
y_pred_rad = clf.predict(X_test)

accuracy_rad = accuracy_score(y_test, y_pred_rad)
precision_rad = precision_score(y_test, y_pred_rad, average='macro')
recall_rad = recall_score(y_test, y_pred_rad, average='macro')
f1_rad = f1_score(y_test, y_pred_rad, average='macro')

#Create a Random Forest Classifier
clf=RandomForestClassifier(n_estimators=100)
#Train the model using the training sets
clf.fit(X_train,y_train)
y_pred_random = clf.predict(X_test)

accuracy_random = accuracy_score(y_test, y_pred_random)
precision_random = precision_score(y_test, y_pred_random, average='macro')
recall_random = recall_score(y_test, y_pred_random, average='macro')
f1_random = f1_score(y_test, y_pred_random, average='macro')

# Naive Bayes -GaussianNB
model = GaussianNB()
model.fit(X_train, y_train)
y_predNB = model.predict(X_test)

accuracy_NB = accuracy_score(y_test, y_predNB)
precision_NB = precision_score(y_test, y_predNB, average='macro')
recall_NB = recall_score(y_test, y_predNB, average='macro')
f1_NB = f1_score(y_test, y_predNB, average='macro')


# SVM
clf = svm.SVC(kernel='linear') 
clf.fit(X_train, y_train)
y_pred_svm = clf.predict(X_test)

accuracy_svm = accuracy_score(y_test, y_pred_svm)
precision_svm = precision_score(y_test, y_pred_svm, average='macro')
recall_svm = recall_score(y_test, y_pred_svm, average='macro')
f1_svm = f1_score(y_test, y_pred_svm, average='macro')

In [ ]:
# feature extraction
pca = PCA(n_components=3)
fit = pca.fit(x)
# summarize components
print(fit.components_)

[[-3.43785590e-18 -1.73094653e-02 -2.23428836e-01 -1.35913305e-01
  -3.30323120e-02 -9.66340850e-02 -8.32943704e-03  2.26900107e-03
  -3.20516504e-04 -1.19308905e-01 -2.44451675e-01  1.48512747e-01
  -4.67319398e-02 -2.17740744e-01 -1.48136763e-02  4.47779540e-03
  -4.94136409e-05 -7.95419378e-02  8.33951452e-02  2.15915341e-01
  -1.72126800e-01 -1.63712098e-01  2.86444458e-02  4.23251812e-03
   9.85488576e-05  6.42319147e-02  2.54093315e-01 -3.56771036e-02
  -2.09462569e-01 -4.31311430e-02  5.13118690e-02  2.13422736e-04
   0.00000000e+00  1.59950883e-01  3.68690775e-01  1.64406828e-01
   8.52007914e-02  3.72982847e-02  2.15866975e-02  0.00000000e+00
   1.28865583e-03  1.06945286e-01  3.03067456e-01  2.47813039e-01
   2.09637295e-01  1.22325217e-02 -3.69458502e-02  1.61485026e-03
   6.93023540e-04 -8.35144271e-03 -5.58598985e-02  9.30534177e-02
   1.07387720e-01 -1.37734564e-01 -6.32879469e-02  9.61671125e-04
   9.55079101e-06 -1.40786841e-02 -2.35675489e-01 -1.41225588e-01
  -9.15964690e-03 -8.94184684e-02 -3.65977115e-02 -1.14684953e-02]
 [-2.05273778e-17 -1.01064573e-02 -4.90849216e-02 -9.43337398e-03
  -5.36015663e-02 -1.17755318e-01 -6.21281797e-02 -7.93574604e-03
  -1.63216283e-04 -2.10167094e-02  6.03485677e-02 -5.33769540e-03
  -9.19769220e-02 -5.19210472e-02 -5.89354695e-02 -3.33283449e-03
  -4.22872211e-05  3.62458476e-02  1.98257337e-01 -4.86386551e-02
  -2.25574892e-01 -4.50541843e-03  2.67696697e-02 -2.08736000e-04
  -5.66233996e-05  7.71235122e-02  1.88447109e-01 -1.37952518e-01
  -2.61042777e-01  4.98350563e-02  6.51113748e-02  4.03200261e-05
  -0.00000000e+00  8.81559924e-02  8.71737616e-02 -2.70860186e-01
  -2.85291798e-01  1.66461582e-01  1.27860542e-01 -0.00000000e+00
   2.89440133e-04  5.08304862e-02  1.30274462e-01 -2.68906473e-01
  -3.01575537e-01  2.40259065e-01  2.17555551e-01  1.32726066e-03
   2.86742929e-04  1.05548280e-02  1.53370695e-01 -1.19535170e-01
  -9.72508063e-02  2.85869536e-01  1.48776446e-01  5.42291316e-04
  -3.34028095e-05 -1.00791171e-02 -7.02724084e-02  1.71108116e-02
   1.94296394e-01  1.76697116e-01  1.94547058e-02 -6.69693805e-03]
 [ 4.07949361e-17  1.83420746e-02  1.26475558e-01  1.32154814e-01
  -1.34016045e-01 -2.64938834e-01 -1.16643766e-01 -1.68423464e-02
   3.93971241e-04  7.94371519e-02  8.74387331e-02  6.55909593e-02
  -7.89760721e-04 -2.80102000e-01 -1.59704553e-01 -1.51616161e-02
   2.12613392e-04  4.24412714e-02  4.72716524e-03  7.38147738e-02
   9.65404176e-02 -3.07581090e-01 -1.48011901e-01 -6.33142325e-03
   5.01584079e-05 -4.41791985e-02 -7.25665044e-02  7.13385255e-02
  -8.05258323e-03 -3.53007932e-01 -1.48327616e-01 -2.18498521e-04
   0.00000000e+00 -5.45021609e-02 -3.36019678e-02  1.41335295e-01
   1.50096816e-02 -2.57973907e-01 -9.38408374e-02  0.00000000e+00
  -3.19977379e-04 -2.41499145e-02  1.21723734e-01  1.71362093e-01
  -8.57777682e-02 -1.44627543e-01  7.01061951e-02  2.92247649e-03
  -1.29047789e-04  1.86135996e-02  2.34990788e-01  1.69857757e-01
  -5.39961527e-02  8.48976049e-02  2.22787089e-01  2.18621480e-02
  -1.39805407e-05  1.75833106e-02  1.23158226e-01  9.83532243e-02
   1.38485243e-01  2.32084179e-01  1.67026577e-01  3.48043907e-02]]

In [ ]:

table= PrettyTable(['','acc','pre','recall','f1'])

table.add_row(['SVM', round(accuracy_svm,2),round(precision_svm,2),round(recall_svm,2),round(f1_svm,2)])
table.add_row(['NB', round(accuracy_NB,2),round(precision_NB,2),round(recall_NB,2),round(f1_NB,2)])
table.add_row(['Random', round(accuracy_random,2),round(precision_random,2),round(recall_random,2),round(f1_random,2)])
table.add_row(['Radial Basis', round(accuracy_rad,2),round(precision_rad,2),round(recall_rad,2),round(f1_rad,2)])

print(table)

+--------------+------+------+--------+------+
|              | acc  | pre  | recall |  f1  |
+--------------+------+------+--------+------+
|     SVM      | 0.97 | 0.97 |  0.98  | 0.97 |
|      NB      | 0.82 | 0.86 |  0.83  | 0.82 |
|    Random    | 0.98 | 0.98 |  0.98  | 0.98 |
| Radial Basis | 0.99 | 0.99 |  0.99  | 0.99 |
+--------------+------+------+--------+------+

#Task 2. 
For given bank dataset (bank.csv) having the following attributes :
1.	**age** (numeric)
2.	**job** : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
3.	**marital** : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
4.	**education** (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
5.	**default**: has credit in default? (categorical: 'no','yes','unknown')
6.	**housing**: has housing loan? (categorical: 'no','yes','unknown')
7.	**loan**: has personal loan? (categorical: 'no','yes','unknown')
8.	**contact**: contact communication type (categorical: 'cellular','telephone')
9.	**month**: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
10.	**day_of_week**: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
11.	**duration**: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
12.	**campaign**: number of contacts performed during this campaign and for this client (numeric, includes last contact)
13.	**pdays**: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
14.	**previous**: number of contacts performed before this campaign and for this client (numeric)
15.	**poutcome**: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')
Output variable (desired target):
16.	**y**. has the client subscribed a term deposit? (binary: 'yes','no')

In [ ]:
# code
dataset=pd.read_csv("bank.csv")
dataset.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes

#3.1. Apply StandardScaler() function to columns that contains numerical data ('age', 'balance', 'day', 'campaign', 'pdays', 'previous')

In [ ]:
#code
import pandas as pd
from sklearn.preprocessing import StandardScaler

# load the bank dataset
# dataset = pd.read_csv('bank.csv')
dataset=pd.read_csv("bank.csv")

# select the numerical columns to scale
num_cols = ['age', 'balance', 'day', 'campaign', 'pdays', 'previous']

# create a StandardScaler object
scaler = StandardScaler()

# fit and transform the selected columns
dataset[num_cols] = scaler.fit_transform(dataset[num_cols])

# check the updated dataframe
print(dataset.head())

        age         job  marital  education default   balance housing loan  \
0  1.491505      admin.  married  secondary      no  0.252525     yes   no
1  1.239676      admin.  married  secondary      no -0.459974      no   no
2 -0.019470  technician  married  secondary      no -0.080160     yes   no
3  1.155733    services  married  secondary      no  0.293762     yes   no
4  1.071790      admin.  married   tertiary      no -0.416876      no   no

   contact       day month  duration  campaign     pdays  previous poutcome  \
0  unknown -1.265746   may      1042 -0.554168 -0.481184  -0.36326  unknown
1  unknown -1.265746   may      1467 -0.554168 -0.481184  -0.36326  unknown
2  unknown -1.265746   may      1389 -0.554168 -0.481184  -0.36326  unknown
3  unknown -1.265746   may       579 -0.554168 -0.481184  -0.36326  unknown
4  unknown -1.265746   may       673 -0.186785 -0.481184  -0.36326  unknown

  deposit
0     yes
1     yes
2     yes
3     yes
4     yes

#3.2. Apply Encode Categorical Value (OneHotEncoder) to transfrom categorical data to numerical data ('job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome')

In [ ]:
#code
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Load the bank dataset
df = pd.read_csv("bank.csv")

# Select categorical columns to be encoded
cat_cols = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']

# Create OneHotEncoder instance
encoder = OneHotEncoder(handle_unknown="ignore")

# Fit the encoder on the categorical columns
encoder.fit(df[cat_cols])

# Transform the categorical columns to numerical using the fitted encoder
encoded = encoder.transform(df[cat_cols]).toarray()

# Create a dataframe from the encoded data and get the new column names
encoded_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out(cat_cols))

# Concatenate the encoded dataframe with the original dataframe
df_encoded = pd.concat([df, encoded_df], axis=1)

# Drop the original categorical columns
df_encoded.drop(cat_cols, axis=1, inplace=True)

# Display the encoded dataframe
print(df_encoded.head())

   age  balance  day  duration  campaign  pdays  previous deposit  job_admin.  \
0   59     2343    5      1042         1     -1         0     yes         1.0
1   56       45    5      1467         1     -1         0     yes         1.0
2   41     1270    5      1389         1     -1         0     yes         0.0
3   55     2476    5       579         1     -1         0     yes         0.0
4   54      184    5       673         2     -1         0     yes         1.0

   job_blue-collar  ...  month_jun  month_mar  month_may  month_nov  \
0              0.0  ...        0.0        0.0        1.0        0.0
1              0.0  ...        0.0        0.0        1.0        0.0
2              0.0  ...        0.0        0.0        1.0        0.0
3              0.0  ...        0.0        0.0        1.0        0.0
4              0.0  ...        0.0        0.0        1.0        0.0

   month_oct  month_sep  poutcome_failure  poutcome_other  poutcome_success  \
0        0.0        0.0               0.0             0.0               0.0
1        0.0        0.0               0.0             0.0               0.0
2        0.0        0.0               0.0             0.0               0.0
3        0.0        0.0               0.0             0.0               0.0
4        0.0        0.0               0.0             0.0               0.0

   poutcome_unknown
0               1.0
1               1.0
2               1.0
3               1.0
4               1.0

[5 rows x 52 columns]

#3.3. Apply **Decision tree, Random forest, kNN, Na√ØveBayes** to preproceed dataset in the previous steps. Then compare the obtained results using **accuracy, precision, recall, f1** measures.

#3.4. Using selection feature to above dataset, then compare the classification results with those in Task 2.3.

In [ ]:
#code

#Task 4. 
For a given dataset in the Lab #5 (**credit card dataset**), perform feature selection and thencompare the performance of selected classification algorithms (Decision Tree, kNN, Logistic Regression, SVM, Random Forest and NaiveBayes) based on accuracy, precision, recall, f1 measures.

In [ ]:
# code
import pandas as pd
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB

# Load the dataset
df = pd.read_csv("creditcard.csv")

In [ ]:
# Separate the features and target variable
X = df.drop('Class', axis=1)
y = df['Class']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
# Scale the numerical features
scaler = StandardScaler()
num_cols = ['Time', 'Amount']
X_train[num_cols] = scaler.fit_transform(X_train[num_cols])
X_test[num_cols] = scaler.transform(X_test[num_cols])

In [ ]:
# Train and evaluate the performance of different classification algorithms
classifiers = {
    'Decision Tree': DecisionTreeClassifier(),
    'kNN': KNeighborsClassifier(),
    'Logistic Regression': LogisticRegression(),
    'SVM': SVC(),
    'Random Forest': RandomForestClassifier(),
    'Naive Bayes': GaussianNB()
}

for name, clf in classifiers.items():
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    acc = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    print(f'{name}: Accuracy = {acc}, Precision = {precision}, Recall = {recall}, F1-score = {f1}')

Decision Tree: Accuracy = 0.9991807403766253, Precision = 0.72, Recall = 0.7941176470588235, F1-score = 0.7552447552447551

#Finally,
Save a copy in your Github. Remember renaming the notebook.